.landing-page-container {
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.title {
  margin: 0;
  font-size: 3em;
}
.quote{
  font-weight: 200;
  font-size: 1.5em;
}
.icon {
  color: #000;
  font-size: 4em;
}
.icons-holder {
  display: flex;
  justify-content: center;
  width: 80vw;
}
.icons-holder:hover>a {
  filter:blur(3px);
  opacity:.5;
  transform: scale(.98);
  box-shadow:none;
}
.icons-holder>a {
  margin: 0 5px;
  padding: 10px;
  height: 80px;
  width: 80px;
  border-radius: 8px;
  border-radius:8px;
  transition:.2s all; 
}
.icons-holder:hover>a:hover {
  transform:scale(1);
  filter:blur(0px);
  opacity:1;
  box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
  transform: scale(1.2);
}
.landing-page-container>a {
  position: absolute;
  bottom: 10px;
}
.chevron-down {
  height: 25px;
  animation: hover-me .5s infinite ease-in-out alternate; 
}
@keyframes hover-me {
  100% { transform: translate3d(0, 10px, 0); }
}
