.container {
  width: calc(var(--grid-width-four) * 2 + var(--grid-width-two) + 16px);
  height: calc(var(--grid-width-four) + var(--grid-width-one) + 16px);
  display: flex;
  flex-direction: column;
}
.container:hover {
  box-shadow: 0px 5px 10px #00000033;
}
@media only screen and (max-width: 600px) {
  .container {
    width: calc(100vw - 60px);
    height: calc(100vw - 60px);
  }
}

.textContainer {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
@media only screen and (max-width: 600px) {
  .textContainer {
    padding: 5px 15px;
  }
}

.title {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 2em;
  line-height: 1.5em;
  color: var(--black);
  letter-spacing: 1.2px;
  opacity: 1;
}
@media only screen and (max-width: 600px) {
  .title {
    font-size: 1em;
    line-height: 1em;
  }
}

.icon {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
@media only screen and (max-width: 600px) {
  .icon {
    height: 20px;
    width: 20px;
  }
}

.imageContainer {
  width: calc(35vw - 10px);
  height: calc((35vw - 10px) * 0.8);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  object-fit: cover;
  opacity: 0.6;
}
@media only screen and (max-width: 600px) {
  .imageContainer {
    width: calc(100vw - 60px);
    height: calc((100vw - 60px) * 0.8);
  }
}

.leftSide {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: calc(var(--grid-width-four) + var(--grid-width-one) + 8px);
}

.rightSide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  width: calc(var(--grid-width-four) + var(--grid-width-one) + 8px);
}
@media only screen and (max-width: 600px) {
  .rightSide {
    padding: 10px;
    height: 30px;
  }
}

.text {
  text-align: left;
  font-family: var(--font-primary);
  font-size: 1em;
  color: var(--white);
  letter-spacing: 0.32px;
  color: #fbfffe;
  text-transform: capitalize;
  margin-right: 10px;
}
@media only screen and (max-width: 600px) {
  .text {
    font-size: 0.8em;
  }
}

.rightSideIconContainer {
  height: 16px;
  width: 16px;
}
@media only screen and (max-width: 600px) {
  .rightSideIconContainer {
    height: 12px;
    width: 12px;
  }
}
