.container {
  padding: 3em;
  padding-right: 15vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .container {
    padding: 2em;
    padding-right: 2em;
  }
}
