.project {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 20px 40px 20px 0;
  width: 150px;
  height: 150px;
  border-radius: 20;
  transition: .3s all ease-in-out;
  background-color: #fff;
}
.project:hover {
  width: 250px;
  height: 250px;
  background-color: #0c0c0c;
  color: #f3f3f3;
  cursor: none;
}
/* Title */
.project .title {
  font-size: 1em;
  font-weight: 500;
  flex: 1;
}
.project:hover .title {
  font-size: 1.2em;
  flex: 0;
}
/* link */
.project .icon {
  font-size: 2em;
  align-self: flex-end;
}
.project:hover .icon {
  display: none;
}
/* Text */
.text {
  display: none;
  color: #fff;
}
.project:hover .text {
  display: block;
}
/* Button */
.button {
  display: none;
  background-color: aqua;
  padding: 10px 15px;
  color: #000;
  border-radius: 3px;
  cursor: pointer;
}
.project:hover .button {
  display: block;
}

@media only screen and (max-width: 500px) {
  .project {
    margin-right: 15px;
    margin-bottom: 0;
  }
}