.container {
  padding: 0 var(--horizontal-padding);
  margin-bottom: 250px;
  position: relative;
}

.title {
  font-size: 2.5em;
  font-weight: 500;
  margin: 0 0 50px 0;
}

.gridContainer {
  display: flex;
  justify-content: space-between;
}

.imageContainer {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 20px;
}
