.styledButton {
  height: 50px;
  border: 2px solid var(--primary);
  margin: 10px;
  padding: 0 50px;
  border-radius: 6px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background-color: var(--primary);
  font-family: var(--font-primary);
}

.styledButton:hover {
  color: var(--primary);
  box-shadow: 2px 3px 6px #00000033;
}
