:root {
  --primary: #247afde6;
  --primary-10p: #247afd1a;
  --secondary: #ffd700;
  --danger: '';
  --alert: '';
  --success: '';
  --white: #ffffff;
  --white-two: #f7f7ff;
  --white-three: #fbfffe33;
  --white-four: #fbfffe;
  --black: #0d1212;

  --font-primary: 'DM Serif Display', Playfair Display, Roboto, serif;
  --font-secondary: Montserrat, Roboto, sans-serif;
  --font-pre: Spartan, Liberation Mono, Menlo, Courier, monospace;
  --font-bold: 'Product Sans', GoogleSansBold;
  --font-italic: 'Product Sans', GoogleSansItalic;
  --font-quote: Georgia, serif;

  --size-max-width: 1100px;
  --grid-width-one: calc((100vw - 13 * 16px) / 14);
  --grid-width-two: calc(var(--grid-width-one) * 2 + 16px);
  --grid-width-four: calc(var(--grid-width-two) * 2 + 16px);
  --horizontal-padding: calc(var(--grid-width-two) + 16px);
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
*::-webkit-scrollbar {
  width: 0 !important;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
  font-family: var(--font-primary);
  font-weight: 300;
}

@font-face {
  font-family: 'GoogleSansRegular';
  src: url('/fonts/product-sans-regular.woff2')
    url('https://fonts.gstatic.com/s/productsans/v13/pxicypQkot1TnFhsFMOfGShdvPWbT2lB.woff2')
    format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'GoogleSansBold';
  src: url('/fonts/product-sans-bold.woff2')
    url('https://fonts.gstatic.com/s/productsans/v13/pxicypQkot1TnFhsFMOfGShdrPKbT2lB.woff2')
    format('woff2');
  font-display: fallback;
}

@font-face {
  font-family: 'GoogleSansItalic';
  src: url('/fonts/product-sans-italic.woff2')
    url('https://fonts.gstatic.com/s/productsans/v13/pxieypQkot1TnFhsFMOfGShVEu8nSllDims.woff2')
    format('woff2');
  font-display: fallback;
}
