:root {
  --primary: #247afde6;
  --secondary: #ffd700;
  --danger: '';
  --alert: '';
  --success: '';
  --white: #ffffff;
  --white-two: #f7f7ff;
  --white-three: #fbfffe33;
  --white-four: #fbfffe;
  --black: #0d1212;

  --font-primary: GoogleSansRegular, Roboto, sans-serif;
  --font-pre: Spartan, Liberation Mono, Menlo, Courier, monospace;
  --font-medium: GoogleSansMedium;
  --font-bold: GoogleSansBold;
  --font-italic: GoogleSansItalic;
  --font-quote: Georgia, serif;

  --size-max-width: 1100px;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
*::-webkit-scrollbar {
  width: 0 !important;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary);
}
