.picture {
  margin-bottom: 15px;
}
.picture:last-child {
  margin-bottom: 0px;
}

.imageContainer {
  height: auto;
  object-fit: cover;
  width: calc((100vw - 6em - 30px) / 3);
}
@media only screen and (max-width: 600px) {
  .imageContainer {
    width: calc(100vw - 60px);
  }
}
