.container {
  display: flex;
}

.leftSide {
  width: calc(var(--grid-width-four) + 16px);
}

.leftSide > p {
  font-family: var(--font-secondary);
  color: var(--black);
  font-size: 1em;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 50px;
}

.leftSide > a {
  text-decoration: none;
  padding: 15px 40px;
  background-color: var(--primary);
  color: var(--white);
  font-family: var(--font-secondary);
  text-transform: uppercase;
  font-size: 1em;
}

.rightSide {
  margin-left: auto;
}
