name: deploy_to_firebase_hosting

on:
  push:
    branches:
      - migrating-to-nextjs

jobs:
  deploy_to_firebase_hosting:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@master

      - name: Installing the dependencies
        run: npm install

      - name: Lint and test the code
        run: npm run lint && npm run test:build

      - name: Building the production code
        run: npm run build

      - name: Deploy to Firebase
        uses: w9jds/firebase-action@master
        with:
          args: deploy --only hosting
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
